#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #ffffff;
    padding: 30px;
    text-decoration: none;
}
nav a:hover {
    background-color: #c74c43;
}
nav {
    display: flex;
    justify-content: space-around;
}
header {
    background-color: #992626;
    display: grid;
    grid-template-columns: 150px auto;
    font-family: 'Verdana', Arial, Times;
}
#tittle {
    text-align: center;
    padding: 25px;
    font-family: 'Verdana', Arial, Times;
    margin-left: 100px; 
    margin-right: 100px;
}
#tittle h5 {
    font-size: 12px;
}
body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.home_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Trebuchet MS', Arial, Times;
}
#computer_section {
    padding: 20px;
    text-align: center;
}
#computer_section p {
    font-size: 13px;
    margin-left: 40px;
    margin-right: 40px;
}
#datacenter_section {
    padding: 20px;
    text-align: center;
}
#datacenter_section p {
    font-size: 13px;
    margin-left: 30px;
    margin-right: 30px;
}
#company_message {
    text-align: center;
    padding: 50px;
    font-family: 'Trebuchet MS', Arial, Times;
    margin-left: 250px;
    margin-right: 250px;
}
footer {
    background-color: #992626;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    font-family: 'Trebuchet MS', Arial, Times;
    align-items: center;

}
footer a {
    text-decoration: none;
    color: #ffffff;
}
footer a:hover {
    color: #f18e87;
}