#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #ffffff;
    padding: 35px;
    text-decoration: none;
    align-items: center;
}
nav a:hover {
    background-color: #c74c43;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header {
    background-color: #992626;
    display: grid;
    grid-template-columns: 150px auto;
    font-family: 'Verdana', Arial, Times;
}
#tittle {
    text-align: center;
    padding: 1px;
    font-family: 'Verdana', Arial, Times;
    margin: 0;
    background-color: #82b1d8;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
#tittle h5 {
    font-size: 12px;
}
#tittle h5 {
    margin-left: 70px;
    margin-right: 70px;
}
body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.home_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Trebuchet MS', Arial, Times;
}
#computer_section {
    padding: 20px;
    text-align: center;
}
#computer_section p {
    font-size: 13px;
    margin-left: 40px;
    margin-right: 40px;
}
#datacenter_section {
    padding: 20px;
    text-align: center;
}
#datacenter_section p {
    font-size: 13px;
    margin-left: 30px;
    margin-right: 30px;
}
#company_message {
    text-align: center;
    padding: 50px;
    font-family: 'Trebuchet MS', Arial, Times;
    margin-left: 250px;
    margin-right: 250px;
}
footer {
    background-color: #992626;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    font-family: 'Trebuchet MS', Arial, Times;
    align-items: center;

}
footer a {
    text-decoration: none;
    color: #ffffff;
}
footer a:hover {
    color: #f18e87;
}
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: 'Trebuchet MS', Arial, Times;

  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: rgb(115, 209, 72);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f0f6ff;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  #product_tittle {
    text-align: center;
    font-family: 'Verdana', Arial, Times;
    padding: 50px;
  }
  #product_tittle h4 {
    background-color: #82b1d8;
    padding: 20px;
  }
#product_tittle img {
    border: solid #c74c43 10px;
}

  #explanation {
    font-family: 'Trebuchet MS', Arial, Times;
    text-align: center;
    padding: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }
#explanation img {
    border: solid #c74c43 10px;
}
#more_info {
    text-align: center;
    font-family: 'Trebuchet MS', Arial, Times;
    margin-left: 150px;
    margin-right: 150px;
    background-color: rgb(115, 209, 72);
    border: solid rgb(115, 209, 72) 5px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 40px;
}
ul {
    list-style: none;
}
#specs {
    text-align: center;
    font-family: 'Trebuchet MS', Arial, Times;
    padding: 15px;
}
#specs p {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #82b1d8;
}